body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(nikita-samokhin-utlMn9-hGFg-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buffer{
  height: 50px;
}

hr {
    border: 3px solid rgba(250, 235, 215, 1);
  }

body {
    color: antiquewhite;
    margin-left: 50px;
}

.buttons {
    justify-self: center;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px antiquewhite;
    /* margin-left: 30px; */
    color: rgba(41, 130, 19, 1);
    background-color: rgba(250, 235, 215, .8);
    /* background-color: rgba(111, 194, 91, .3); */
    /* margin-bottom: 50px; */
    font-weight: 700;
    border-radius: 300px;
    border: 2px solid rgba(250, 235, 215, .3);
    margin-left: 10px;   
}
.buttons:after {
  content:'home';
}
.buttons:hover {
  transform: scale(2);
  transition: 2s;
}
.buttons:hover:after {
  /* background-color: rgba(41, 130, 19, .3); */
  color: rgba(41, 130, 19, 1);
  content: 'Returning to home';
}

/* property for Robot animation */
.robots {
	align-items: center;
  	bottom: auto;
  	
	margin-right: 50px;
	margin-top: 20px;
	margin-left: 5px;
	margin-bottom: 20px;

    position: fixed;
        top: 0;
        left: 0;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #6fc25b;
}

.head { 
	width: 40px; 
	margin: 0 auto; 
	height: 25px; 
	border-radius: 40px 40px 0 0; 
	margin-bottom: 1px;
} 

.head:hover {
	width: 60px;
    transition: 2s ease-in-out;
	transform: translateY(-5px) rotate(-1080deg);
	/* background-color: black; */
}

.upper_body { 
	width: 60px; 
	height: 25px;
	/* color: #5f93e8; */
	display: flex; 
	margin-left: auto;
	margin-right: auto;
	flex: 1 1 auto;
	justify-content: center;

} 

.left_arm, .right_arm { 
	width: 8px; 
	height: 25px;
	border-radius: 20px; 
} 

.left_arm { 
	margin-right: 2px; 
	transition: 1s ease-in-out;
} 

.right_arm { 
	margin-left: 2px; 
	transition: 1s ease-in-out;
} 

.left_arm:hover {
	-webkit-transform: translateX(-20px) rotate(810deg) scale(2);
    -moz-transform: translateX(-20px) rotate(810deg) scale(2);
    -o-transform: translateX(-20px) rotate(810deg) scale(2);
    -ms-transform: translateX(-20px) rotate(810deg) scale(2);
    transform: translateX(-20px) rotate(810deg) scale(2); 
	/* background-color: black; */
}

.right_arm:hover {
	-webkit-transform: translateX(20px) rotate(-810deg) scale(2);
    -moz-transform: translateX(20px) rotate(-810deg) scale(2);
    -o-transform: translateX(20px) rotate(-810deg) scale(2);
    -ms-transform: translateX(20px) rotate(-810deg) scale(2);
    transform: translateX(20px) rotate(-810deg) scale(2); 
	/* background-color: black; */
}

.torso { 
	width: 40px; 
	height: 25px;
	/* color: #5f93e8; */
	border-radius: 0 0 1px 1px; 
} 
.torso:hover {
	transform:translateY(-30px) scale(.2);
	/* transform:; */
	
	transition: 3s ease-in-out;
	/* color: black; */
	background-color: rgba(111, 194, 91, 0.1)
}

.lower_body { 
	width: 40px; 
	height: 35px;
	/* This is another useful property. Hmm what do you think it does?*/
	/* margin: 0 auto; */
	display: flex; 
	margin-left: auto;
	margin-right: auto;
	flex: 1 1 auto;
	justify-content: center;
	z-index: -1;
	/* justify-content: space-evenly; */

} 

.left_leg, .right_leg { 
	width: 8px; 
	height: 20px;
	border-radius: 20px; 
} 

.left_leg { 
	margin-left: auto;
	margin-right: auto; 
	position: relative; 
	justify-content: right;
} 

.left_leg:hover {
	-webkit-transform: rotate(405deg) scale(2);
    -moz-transform: rotate(405deg) scale(2);
    -o-transform: rotate(405deg) scale(2);
    -ms-transform: rotate(405deg) scale(2);
    transform: rotate(1175deg) scale(2) translateY(20px);
	transition: 1s ease-in-out;
	/* background-color: red; */
}

.right_leg { 
	margin-left: auto;
	margin-right: auto; 
	position: relative; 
	justify-content: right;
}

.right_leg:hover {
	-webkit-transform: rotate(-405deg) scale(2);
    -moz-transform: rotate(-405deg) scale(2);
    -o-transform: rotate(-405deg) scale(2);
    -ms-transform: rotate(-405deg) scale(2);
    transform: rotate(-1175deg) scale(2) translateY(20px);; 
	transition: 1s ease-in-out;
	/* background-color: red; */
}

.eyes {
	display: flex; 
	margin-left: auto;
	margin-right: auto;
	flex: 1 1 auto;
	justify-content: center;
	justify-content: space-evenly;
}

.left_eye, .right_eye { 
	width: 4px; 
	height: 4px; 
	border-radius: 3px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 10px; 
	left: auto; 
} 

.right_eye { 
	position: relative; 
	top: 10px; 
	left: auto; 
}
